@use '../../variables';

.search__container{
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 6rem;

    .rigth, .left{
        display: flex;
        flex-direction: column;
    }
    .left{
        margin-left: 2rem;
    }
}

@media only screen and (max-width: variables.$breakpoint-md) {

    .search__container{
        width: 100%;
        height: unset;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        align-items: center;


        .left{
            margin-left: unset;
            margin-right: 1rem;
        }
    }



}