.ageModal__container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .ageModal__btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    button {
      width: 40px;
      background-color: rgb(217, 220, 223);
    }
  }
}
