@use '../../variables';

.oneResult__container {
    width: 100%;
    max-width: 50rem;
    min-width: 40rem;
    height: 13.5625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .header {
        position: relative;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;

        h1 {
            position: relative;
            font-size: 2.2rem;
            font-weight: 600;
            letter-spacing: 0.12375rem;
        }

        .stamps {
            display: flex;
            gap: 1rem;

            .stamp {
                width: 4.3rem;
                height: 4.3rem;
                background-color: #333030;
                border-radius: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                :first-child {
                    color: #D6D1D1;
                    font-size: 1.2rem;
                    letter-spacing: 0.045rem;
                }

                :nth-child(2) {
                    color: #D6D1D1;
                    font-size: 1rem;
                    letter-spacing: 0.045rem;
                }
            }

            :nth-child(2) {
                top: 8rem;
                left: 10rem;
            }

            :nth-child(3) {
                top: 8rem;
                left: 3rem;
            }
        }
    }

    .infoSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        align-self: flex-end;


        .row {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 5px;

            :first-child {
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: -0.01125rem;
                width: 7rem;
                height: 1.25rem;
                text-align: right;
                position: relative;
                top: 30%;
            }

            :nth-child(2) {

                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: -0.01875rem;
                position: relative;
                bottom: 5%;
            }
        }
    }

}

@media only screen and (max-width: variables.$breakpoint-md) {
    .oneResult__container {
        all: unset;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        height: 20rem;
        padding: 0 20px 0 20px;
        position: relative;
        justify-content: center;
        gap: 3rem;
    }
}