.oneResult__container {
    
    // width: 45rem;
    width: 100%;
    max-width: 50rem;
    height: 13.5625rem;
    position: relative;
    right: 15vw;
    top: 10rem;


    .header {
        position: relative;
        height: 5rem;
        display: flex;
        width: fit-content;
        h1 {
            position: relative;
            font-size: 2.2rem;
            font-weight: 600;
            letter-spacing: 0.12375rem;
        }

        .stamp {
            width: 4.3rem;
            height: 4.3rem;
            background-color: #333030;
            border-radius: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
 

            :first-child {
                color: #D6D1D1;
                font-size: 1.2rem;
                letter-spacing: 0.045rem;
                
            }
            :nth-child(2){
                color: #D6D1D1;
                font-size: 1rem;
                letter-spacing: 0.045rem;
            }


        }
        :nth-child(2) {
            top: 8rem;
            left: 10rem;
        }

        :nth-child(3) {
            top: 8rem;
            left: 3rem;
        }
    }

    .infoSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        height: 6.875rem;
        position: absolute;
        right: 0;
        bottom: 0;


        .row {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 5px;

            :first-child {
                font-size: 0.8rem;
                font-weight: 500;
                letter-spacing: -0.01125rem;
                width: 7rem;
                height: 1.25rem;
                text-align: right;
                position: relative;
                top: 30%;


            }

            :nth-child(2) {

                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: -0.01875rem;
                position: relative;
                bottom: 5%;


            }

        }
    }

}